@import '../App/vars';
@import '../App/base';

.button-primary {
  background-color: $colorButton;
  color: $colorWhite;
  font-size: 1rem;
  line-height: 1rem;
  padding: 12px 18px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}