@import '../App/vars';
@import '../App/base';

.options {
  margin-bottom: $blockDistance;
  background-color: #F7F7F5;
  @media (max-width: 768px) {
    margin-bottom: $blockDistanceMobile;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.75rem;
    @media (max-width: 768px) {
      flex-direction: column-reverse;
      padding-bottom: 30px;
    }
    .content__text {
      flex: 1 1 50%;
      h2 {
        font-family: 'GraphikLCG-Bold';
        font-weight: 700;
        font-size: 2.6rem;
        line-height: 3.25rem;
        color: $colorTitle;
        margin-bottom: 1.5rem;
      }
      p {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2.25rem;
        color: $colorText;
      }
    }
    .content__pic {
      flex: 1 1 50%;
    }
  }
  &__trackers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 3.37rem;
    margin-bottom: $blockDistance;
    @media (max-width: 768px) {
      margin-bottom: $blockDistanceMobile;
    }
    .tracker {
      @media (max-width: 370px) {
        width: 90%;
      }
      img {
        margin-bottom: 2.25rem;
      }
      h3 {
        font-family: 'GraphikLCG-Bold';
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2rem;
        color: $colorTitle;
        margin-bottom: 0.5rem;
      }
      p {
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1.75rem;
        color: $colorText;
      }
    }
  }
}