@import '../App/vars';
@import '../App/base';

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 12;
  padding: 12px 20px;
  border-bottom: 1px solid $colorBorder;
  background-color: $colorWhite;
		.navbar {
			color: $colorText;
			// opacity: 0.85;
			// height: 50px;
			z-index: 12;
      max-width: 1400px;
      margin: 0 auto;
      input[type="checkbox"],
      .hamburger-lines {
        display: none;
      }
      &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        @media (max-width: 1020px) {
          gap: 20px;
        }
        .menu__items {
          width: 100%;
          order: 2;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          &-data {
            display: flex;
            gap: 40px;
            @media (max-width: 1020px) {
              gap: 20px;
            }
          }
          // &-data-right {
          //   gap: 20px;
          // }
          .menu__item {
            position: relative;
            font-size: 1rem;
            line-height: 16px;
            display: flex;
            align-items: center;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            @media (max-width: 900px) {
              font-size: 0.8rem;
            }
            a {
              &::after {
                content: "";
                position: absolute;
                // top: 24px;
                bottom: 0;
                left: 50%;
                display: block;
                background: none repeat scroll 0 0 transparent;
                height: 3px;
                width: 0;
                background: #0A84FF;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
              }
              &:hover {
                // font-weight: bold;
                color: #000;
              }
              &:hover::after { 
                width: 100%; 
                left: 0; 
              }
            }
          }
        }
      }
		}
    
    @media (max-width: 768px) {
      .navbar {
        .navbar__wrapper input[type="checkbox"],
        .navbar__wrapper .hamburger-lines {
          display: block;
        }
      
        .navbar__wrapper {
          display: block;
          position: relative;
          height: 64px;
  
          input[type="checkbox"] {
            position: absolute;
            display: block;
            height: 32px;
            width: 30px;
            top: 20px;
            left: 20px;
            z-index: 5;
            opacity: 0;
            &:checked ~ .menu__items {
              transform: translateX(0);
            }
            &:checked ~ .hamburger-lines .line1 {
              transform: rotate(35deg);
            }
            &:checked ~ .hamburger-lines .line2 {
              transform: scaleY(0);
            }
            &:checked ~ .hamburger-lines .line3 {
              transform: rotate(-35deg);
            }
          }
          .hamburger-lines {
            display: block;
            height: 23px;
            width: 35px;
            position: absolute;
            top: 17px;
            left: 20px;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .line {
              display: block;
              height: 4px;
              width: 100%;
              border-radius: 10px;
              background: #000;
            }
            .line1 {
              transform-origin: 0% 0%;
              transition: transform 0.4s ease-in-out;
            }
          
            .line2 {
              transition: transform 0.2s ease-in-out;
            }
          
            .line3 {
              transform-origin: 0% 100%;
              transition: transform 0.4s ease-in-out;
            }
          }
        }
        .menu__items {
          padding-top: 150px;
          background-color: #fff;
          height: 100vh;
          width: 100vw;
          transform: translate(-150%);
          // display: flex;
          // flex-direction: column;
          display: block;
          margin-left: -30px;
          padding-left: 50px;
          transition: transform 0.5s ease-in-out;
          box-shadow: 5px 0px 10px 0px #aaa;
          &-data {
            display: block;
            margin-bottom: 1.5rem;
            max-width: fit-content;
            .menu__item {
              margin-bottom: 1.5rem;
              &-avatar {
                display: none;
              }
            }
          }
          li {
            margin-bottom: 1.5rem;
            font-size: 1.3rem;
            font-weight: 500;
          }
        }
        .logo {
          position: absolute;
          top: 5px;
          right: 15px;
        }
      }

    }
}