@font-face {
  font-family: 'GraphikLCG-Black';
  src: local('GraphikLCG-Black'),
    url('./GraphikLCG-Black.otf') format('opentype');
  font-display: swap;
};
@font-face {
  font-family: 'GraphikLCG-Bold';
  src: local('GraphikLCG-Bold'),
    url('./GraphikLCG-Bold.otf') format('opentype');
  font-display: swap;
};
@font-face {
  font-family: 'GraphikLCG-Medium';
  src: local('GraphikLCG-Medium'),
    url('./GraphikLCG-Medium.otf') format('opentype');
  font-display: swap;
};
@font-face {
  font-family: 'GraphikLCG-Regular';
  src: local('GraphikLCG-Regular'),
    url('./GraphikLCG-Regular.otf') format('opentype');
  font-display: swap;
};
@font-face {
  font-family: 'GraphikLCG-Semibold';
  src: local('GraphikLCG-Semibold'),
    url('./GraphikLCG-Semibold.otf') format('opentype');
  font-display: swap;
}