@import '../App/vars';
@import '../App/base';

.description {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50.91%, #FFFFFF 100%),
    url("../images/main-pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 22.2rem;
  &__content {
    max-width: 70%;
    margin-bottom: $blockDistance;
    @media (max-width: 768px) {
      margin-bottom: $blockDistanceMobile;
    }
    h1 {
      font-family: 'GraphikLCG-Bold';
      font-weight: 700;
      font-size: 3.4rem;
      line-height: 3.75rem;
      color: $colorTitle;
      margin-bottom: 2.5rem;
    }
    p {
      font-size: 1.5rem;
      line-height: 2.25rem;
      margin-bottom: 2.2rem;
    }
  }
}