// variables
$colorTitle: #242424;
$colorButton: #0071E3;
$colorGradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50.91%, #FFFFFF 100%);
$colorText: rgba(0, 0, 0, 0.64);
$colorWhite: #fff;
$colorBorder: #DBDBDB;
$blockDistance: 7.5rem;
$blockDistanceMobile: 3.5rem;