@import '../fonts/font.scss';
@import 'vars';
@import 'base';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  @media (min-width: 600px) {
    font-size: 16px;
  }
}

body {
  font-family: 'GraphikLCG-Regular';
  line-height: 1;
  color: $colorText;
  min-width: 320px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}