@import '../App/vars';
@import '../App/base';

.tasks {
  padding-bottom: $blockDistance;
  h2 {
    font-family: 'GraphikLCG-Bold';
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 3.25rem;
    color: $colorTitle;
    max-width: 80%;
    margin-bottom: 40px;
  }
  &__data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    gap: 3.75rem;
  }
}