@import '../App/vars';
@import '../App/base';

.form {
  display: flex;
  gap: 8px;
  width: 100%;
  &__select {
    width: 400px;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    border: 1px solid $colorBorder;
    border-radius: 8px;
    padding: 1rem;
    color: $colorTitle;
    font-size: 1.1rem;
    @media (max-width: 1000px) {
      width: 100%;
    }
    // option {
      
    // }
  }
  .button__submit {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: $colorWhite;
    background-color: $colorButton;
    border: none;
    border-radius: 8px;
    padding: 16px 20px;
    width: 145px;
    cursor: pointer;
    @media (max-width: 1000px) {
      width: 100%;
    }

  }
  @media (max-width: 1000px) {
    flex-direction: column;
    width: 80%;
  }
}